html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

#jPanelMenu-menu {
    display: block;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    z-index: -1;
}

.jPanelMenu-panel {
    background: #F4F0EB;
    left: 0;
    min-height: 100%;
    position: static;
    top: 0;
    width: 100%;
    z-index: 2;
}

#jPanelMenu-menu {
    background: none repeat scroll 0 0 #3B3B3B;
}
#jPanelMenu-menu ul {
    border-bottom: 1px solid #484848;
}

#jPanelMenu-menu li {
  list-style: none;
}

#jPanelMenu-menu li a {
    background: -moz-linear-gradient(center top , #3E3E3E, #383838) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #2E2E2E;
    border-top: 1px solid #484848;
    color: #F7F7F7;
    display: block;
    font-family: "museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 0.5em 5%;
    text-decoration: none;
    text-shadow: 0 -1px 2px #222222;
}
#jPanelMenu-menu li a:hover, #jPanelMenu-menu li a:focus {
    background: -moz-linear-gradient(center top , #484848, #383838) repeat scroll 0 0 transparent;
}
#jPanelMenu-menu li a:active {
    background: -moz-linear-gradient(center top , #3E3E3E, #2E2E2E) repeat scroll 0 0 transparent;
    border-top-color: #222222;
    box-shadow: 0 2px 7px #222222 inset;
    padding-bottom: 0.45em;
    padding-top: 0.55em;
}
.jPanelMenu-panel {
    box-shadow: 0 0 25px #222222;
}

#menu-wrapper {
  position: relative;

}

.overlay {
  position: relative;
  margin-right: 250px;
  right: 0;
}

#rightside {
  background: #3B5998;
  height: 100%;
  overflow: auto;
  position: absolute;
  right: 0;
  width: 250px;
}

#rightside ul li {
    padding: 1px 0 0;
    list-style: none;
}

#rightside ul li {
    background: #4B67A1;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    text-align: center;
}

#rightside ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
}

#rightside ul li a:hover {
    background: #35262F;
}

.top-bar {
}

.icon a{
  background: url(../images/icon_list.png);
  display: block;
  width: 50px;
  height: 40px;
  text-indent: -9999px;
  position: relative;
  left: 2px;
  top:2px;
}

.post-listing img {
  background: url(../images/icon_listing.jpg);
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  margin: 5px 10px 0 10px;
}

.post-listing h2 {
  color: #fff;
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  text-align: left;
  text-indent: 0;
}

.post-listing p {
  font-size: 12px;
  color: #e4e4e4;
  line-height: 20px;
  text-align: left;
  text-indent: 0;
  margin-bottom: 0;
}

.category_img {
  margin: 20px 0 0 0;
}

.homepage {
  background: url(../images/bg.jpg);
}

.info-color {
  background: #496aae;
  border-bottom: 3px solid #3B5998;
}

iframe, object, embed{max-width: 100%;}



















