<!DOCTYPE HTML>
<html>
<head>
	<title>You Got. I need!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" type="text/css" href="ivory.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	
	<!-- For Date picker only --> 
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


	<script type="text/javascript" src="script.js" rel="javascript"></script>
	<script type="text/javascript" src="jpanel.js"></script>
	<!-- For Date picker only -->

	</head>