<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}{{ proj_name }}{% endblock %}</title>
  <meta name="description" content="{{ proj_description }}">
  <meta name="author" content="{% for author in founders %}{{ author.name }},{% endfor %}">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="css/ivory.css"/>
  <link rel="stylesheet" type="text/css" href="css/custom.css"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  
  <!-- For Date picker only --> 
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>



  <!-- For Date picker only -->

  </head>
<body class="homepage">
      
    
      <div class="top-bar">
        <div class="inner">
          <div class="icon"><a class="menu-trigger ss-icon" href="#menu"></a></div>
        </div>
      </div>

  <div class="content">

    <div class="grid">

    <div class="row space-bot">
      <div class="c4 first">
        <h2 style="color:#fff;">I have water </h2>

        <p style="color:#fff;">Morbi sed velit rhoncus, tristique neque id, viverra ipsum. Pellentesque euismod et ligula vitae euismod. Donec ornare molestie mauris, tempus lacinia lacus consectetur sed. Pellentesque id neque scelerisque, posuere eros ac, congue lectus. Vivamus lacinia pharetra felis, in mattis metus eleifend eget. Vivamus auctor tempor urna, ut mollis mauris. Aliquam vitae massa lectus. Aliquam dui ante, vestibulum non blandit fringilla, congue fermentum dui. </p>

        <button class="green" type="submit">I have</button>
        <button class="blue" type="submit">I Need</button>      </div><!--end c3 first-->

      <div class="c8 last">
      </div><!-- end c9-->
    </div>

    </div><!-- grid -->
  </div><!-- content -->



</body>
</html>