{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block content %}
<div>


	
{% for item in items %}
	<div class = "item">
		<div class = "post-title"> 
		<a href="/{{item.key().id()}}"><h2>{{item.ItemName}}<h2></a></div>
	 	<img src="http://maps.google.com/maps/api/staticmap?center={{item.ItemLocation}}&zoom=8&size=400x300&sensor=false" style="width: 400px; height: 400px;" /> 
		<pre class ="description"> {{item.ItemDescription}}</pre>
		
		<hr>
	</div>
	{% endfor %}
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
