<!DOCTYPE HTML>
<html>
<head>
	<title>You Got. I need!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" type="text/css" href="css/ivory.css"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css"/>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	
	<!-- For Date picker only --> 
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


	<script type="text/javascript" src="js/script.js" rel="javascript"></script>
	<script type="text/javascript" src="js/jpanel.js"></script>
	<!-- For Date picker only -->

	</head>
<body>
			
			<div id="rightside">
			<ul id="menu-wrapper">

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>

				<a href="">
					<li class="post-listing">
							<div class="info-color">
								<img src="" alt="Image">
								<h2>I need water</h2>
								<p>This is a sample description and can change at anytime.</p>
							</div><!--end info-->
					</li>
				</a>
				</ul>
			</div>

<div class="overlay">
			<div class="top-bar">
				<div class="inner">
					<div class="icon"><a class="menu-trigger ss-icon" href="#menu"></a></div>
				</div>
			</div>

	<div class="content">
		<div id="map-canvas" style="height: 600px;"></div>

		<div class="grid">

		<div class="row space-bot">
			<div class="c3 first">
				<img class="category_img" src="images/water.jpg" alt="person">
			</div><!--end c3 first-->

			<div class="c9 last">
				<h2>I have water </h2>

				<p>Morbi sed velit rhoncus, tristique neque id, viverra ipsum. Pellentesque euismod et ligula vitae euismod. Donec ornare molestie mauris, tempus lacinia lacus consectetur sed. Pellentesque id neque scelerisque, posuere eros ac, congue lectus. Vivamus lacinia pharetra felis, in mattis metus eleifend eget. Vivamus auctor tempor urna, ut mollis mauris. Aliquam vitae massa lectus. Aliquam dui ante, vestibulum non blandit fringilla, congue fermentum dui. </p>

				<p><b>Can Deliver:</b> Yes</p>
				<p><b>Can Deliver:</b> Yes</p>
				<p><b>Can Deliver:</b> Yes</p>
				<button class="green" type="submit">I'll Take it</button>
				<button class="blue" type="submit">Save for later</button>
			</div><!-- end c9-->
		</div>

		</div><!-- grid -->
	</div><!-- content -->

	<div class="g960">
		<div class="row spce-bot">

		<hr>
		<div class="row space-bot">
			<div class="c6">
				<p>Chicago Hackathon</p>
			</div>
			<div class="c6 text-right">
				<p>Soemthing will go here<p>
			</div>		
		</div>
	</div><!-- grid -->
</div>

<nav id="jPanelMenu-menu" class="jpanelMenu-selector" style="width: 250px; z-index: 1; display: block;">
			<ul>

				<li><a href="#api">New Post</a></li>

	<form method = "post">
		<label>
			<input type="radio" name="isNeed" value="False">I have:<br>
			<input type="radio" name="isNeed" value="True">I need:
		</label>
		<label>
			<div>Item</div>
			<input name= "ItemName" type="" value ="{{ItemName}}">
		</label>
		<select name="catagory">
			<optgroup label="Food & Water">
				<option value="food">Food</option>
				<option value="water">Water</option>
			</optgroup>

			<optgroup label="Energy">
				<option value="chargers">Chargers</option>
				<option value="generators">Generators</option>
				<option value="pumps">Pumps</option>
				<option value="electricity">Electricity</option>
				<option value="gas">Gas</option>
				<option value="batteries">Batteries</option>
			</optgroup>

			<optgroup label="Clothing">
				<option value="baby_clothing">Baby Clothing</option>
				<option value="child_clothing">Child Clothing</option>
				<option value="adult_clothing">Adult Clothing</option>
			</optgroup>

			<optgroup label="Amenities">
				<option value="shelter">Shelter</option>
				<option value="bathroom">Bathroom</option>
				<option value="kitchen">Kitchen</option>
				<option value="kitchen_supplies">Kitchen Supplies</option>
			</optgroup>

			<optgroup label="Medical">
				<option value="first_aid_kits">First Aid Kits</option>
				<option value="crutches_or_canes">Crutches/Canes</option>
				<option value="oxygen">Oxygen</option>
				<option value="first_aid_or_cpr_etc">First Aid/CPR/etc</option>
				<option value="otc_meds">OTC Meds</option>
			</optgroup>

			<optgroup label="Services">
				<option value="muscle">Muscle</option>
				<option value="mental_support">Mental Support</option>
				<option value="childcare">Childcare</option>
				<option value="transportation">Transportation</option>
				<option value="laundry">Laundry</option>
				<option value="toolwork">Toolwork</option>
			</optgroup>

			<optgroup label="Supplies">
				<option value="pet_supplies">Pet Supplies</option>
				<option value="baby_supplies">Baby Supplies</option>
				<option value="toilitries">Toilitries</option>
				<option value="femenine_protection">Femenine Protection</option>
				<option value="cleaning_supplies">Cleaning Supplies</option>
			</optgroup>
			<option value="other">Other...</option>
		</select>
		<label>
			<div>Description</div>
			<textarea name = "ItemDescription" >{{ItemDescription}}</textarea>
		<br>
		</label>
			Location: <input name = "location" value="{{ItemLocation}}">  <br>
		</label>
		
			
			<input type="checkbox" name="canTransfer" value="Bike">I can drive<br>
		</label>

		<div class ="error">{{error}}</div>
		<input value = "Post" type="submit">
	</form>

			</ul>
		</nav>


</body>
</html>


