<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/static/articlestyle.css" type="text/css"/>
	<head>
		<title>
			Sign Up
		</title>
		<script>
		function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }
function showPosition(position)
  {
  x.innerHTML="Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude; 
  }
		</script> 
	</head>
	<body onLoad="getLocation()">
		<form method="post" action="/signup" value="username">
    Name: <input name = "username" value="test"> {{name_error}}
    <br>
    Phone: <input name = "phone" value="{{phone}}">  {{phone_error}}
    <br><input type="Submit">
</form>
		
	</body>



</html>