<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/static/articlestyle.css" type="text/css"/>
	<head>
		<title>
			Sign Up
		</title>
		
	</head>
	<div class="container">
	<body onload="getLocation()">
		<p id="cord">  </p>
		<form method="post" action="/signup" value="username">
    Name: <input name = "username" class="input-small" type="text" value="test"> {{name_error}}
    <br>
    Password: <input name = "password" class="input-small" input type="password"> {{password_error}}
    <br>
    Verify: <input name = "verify" class="input-small" input type="password">
    <br>
    Phone: <input name = "phone" class="input-small" type="text" value="{{phone}}">  {{phone_error}}<br>

    <br><input class="btn" type="Submit">
</form>
		</div>
	</body>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" >
		<link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css" >
			<script src="/js/bootstrap.min.js"></script>



</html>